<h2 class="scroll_heading">About</h2>

<!-- <div class="mx-3"> -->

  <p>
    I am Shuang Guo (郭爽), a master student in the Department of Computer Science and Engineering at <a href="https://www.osu.edu" target="_blank">The Ohio State University</a>. Before joining The Ohio State University, I received my B.S. degree in Computer Science and Technology from Zhejiang University in 2019. 
  </p>

 <!--  <h3>Research Interests</h3>-->

  <p>
     My research interests include natural language processing, knowledge based question answering and graph representation learning.
  </p>

<!-- </div> -->
