<h2 class="scroll_heading">About</h2>

<div class="mx-3">

  <p>
    Wenbin He (何文彬) is a research scientist at <a href="https://www.bosch.us/our-company/bosch-in-the-usa/sunnyvale/" target="_blank">Bosch</a>. He received his Ph.D. degree from the Department of Computer Science and Engineering at <a href="https://www.osu.edu" target="_blank">The Ohio State University</a>, advised by <a href="http://web.cse.ohio-state.edu/~shen.94" target="_blank">Prof. Han-Wei Shen</a>. Before that, he received his B.Eng. degree in Software Engineering from Beijing Institute of Technology in 2012.
  </p>

  <h3>Research Interests</h3>

  <p>
    Broadly speaking, Wenbin He's research interests include data analysis and visualization, computer graphics, machine learning, and high performance computing.  More specifically, his research mainly focuses on large-scale scientific data visualization, ensemble simulation data visualization, uncertainty quantification and visualization, and visual computing with machine learning.
  </p>

<!--   <h3>Current Research Projects</h3>

  <ul>

    <li><p>
      Machine learning for data analysis and visualization
    </p></li>

    <li><p>
      Visual analytics on machine learning models
    </p></li>

  </ul> -->

</div>
