<h2 class="scroll_heading">Work Experience</h2>

<div class="mx-5">

  <div class="row mb-3">
    <div class="col-lg-2">
      <img src="{{ "/assets/img/ansys_logo.png" | relative_url }}" alt="ansys-logo" class="img-fluid mb-3" width="110" height="110">
    </div>
    <div class="col-lg-10">
      <h3>Ansys</h3>
      <h4>AI Engineering Intern</h4>
      <p>May 2020 – Aug 2020</p>
      </p><em>Designed and developed a Neural Network Predictor with C++ without any NN libraries</em></p>
    </div>  </div>

  <div class="row mb-3">
    <div class="col-lg-2">
      <img src="{{ "/assets/img/lenovo_logo.png" | relative_url }}" alt="lenovo-logo" class="img-fluid mb-3" width="110" height="110">
    </div>
    <div class="col-lg-10">
      <h3>Lenovo</h3>
      <h4>AI lab Intern</h4>
      <p>June 2019 – Aug 2019</p>
      <p><em>Designed and developed a Chinese KBQA System</em></p>
    </div>
  </div>


</div>

<h2 class="scroll_heading">Research Experience</h2>

<div class="mx-5">

  <div class="row mb-3">
    <div class="col-lg-2">
      <img src="{{ "/assets/img/ansys_logo.png" | relative_url }}" alt="ansys-logo" class="img-fluid mb-3" width="110" height="110">
    </div>
    <div class="col-lg-10">
      <h3>Learning to Decompose Sentences via Reinforcement Learning</h3>
      <h4>AI Engineering Intern</h4>
      <p>May 2020 – Aug 2020</p>
      </p><em>Designed and developed a Neural Network Predictor with C++ without any NN libraries</em></p>
    </div>  </div>

  <div class="row mb-3">
    <div class="col-lg-2">
      <img src="{{ "/assets/img/lenovo_logo.png" | relative_url }}" alt="lenovo-logo" class="img-fluid mb-3" width="110" height="110">
    </div>
    <div class="col-lg-10">
      <h3>Knowledge Graph Convolutional Network for Natural Language Inference</h3>
      <h4>AI lab Intern</h4>
      <p>June 2019 – Aug 2019</p>
      <p><em>Designed and developed a Chinese KBQA System</em></p>
    </div>
  </div>


</div>