<h2 class="scroll_heading">Work Experience</h2>

<div class="mx-5">

  <div class="row mb-3">
    <div class="col-lg-2">
      <img src="{{ "/assets/img/bosch_logo.png" | relative_url }}" alt="bosch-logo" class="img-fluid mb-3" width="162" height="90">
    </div>
    <div class="col-lg-10">
      <h3>Bosch</h3>
      <h4>Research Scientist</h4>
      <p>Mar 2020 – Present</p>
      <p><em>Human Machine Interaction, Visual Computing</em></p>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-2">
      <img src="{{ "/assets/img/osu_logo.png" | relative_url }}" alt="osu-logo" class="img-fluid mb-3" width="120" height="81">
    </div>
    <div class="col-lg-10">
      <h3>The Ohio State University</h3>
      <h4>Graduate Research Associate</h4>
      <p>May 2013 – December 2016, May 2017 - December 2019</p>
      <p><em>Worked on exploration and analysis of ensemble datasets with statistical and deep learning models</em></p>
      <h4>Graduate Teaching Associate</h4>
      <p>January 2017 - May 2017</p>
      <p><em>Teaching associate for CSE 5542 Real-Time Rendering and CSE 5544 Introduction to Data Visualization</em>
      </p>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-2">
      <img src="{{ "/assets/img/merl_logo.jpg" | relative_url }}" alt="merl-logo" class="img-fluid mb-3" width="147" height="80">
    </div>
    <div class="col-lg-10">
      <h3>Mitsubishi Electric Research Laboratories</h3>
      <h4>Summer Intern</h4>
      <p>May 2019 – July 2019</p>
      <p><em>Worked on developing visual analytics techniques to interpret and diagnose deep reinforcement learning models for robot control tasks, especially focusing on studying transfer failures from simulations to real robots</em></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2">
      <img src="{{ "/assets/img/argonne_logo.png" | relative_url }}" alt="argonne-logo" class="img-fluid mb-3" width="110" height="98">
    </div>
    <div class="col-lg-10">
      <h3>Argonne National Laboratory</h3>
      <h4>Research Aide</h4>
      <p>May 2016 – August 2016</p>
      <p><em>Worked on developing parallel reduction techniques to visualize and analyze extreme-scale datasets on supercomputers</em></p>
      <h4>Research Aide</h4>
      <p>May 2015 – July 2015</p>
      <p><em>Worked on analyzing and visualizing the finite-time Lyapunov exponents and Lagrangian coherent structures of uncertain unsteady flows using statistical models</em></p>
    </div>
  </div>

</div>
