<!-- 
<img src="{{ "/assets/img/portrait.jpg" | relative_url }}" class="mx-auto d-block rounded-circle" alt="portrait" width="150" height="150" style="margin-top: 60px; margin-bottom: 20px;">
 -->

<h1 class="text-center">Shuang Guo</h1>
<!-- <h2 class="text-center text-secondary">Researcher and Software Engineer</h2> -->
<p class="text-center lead">Master Student at The Ohio State University</p>

<p class="text-center">
  <a class="btn btn-light mx-1 mt-1" href="mailto:guo.1660@osu.edu" target="_blank" role="button">
    <i class="far fa-envelope"></i> Mail
  </a>
  <a class="btn btn-light mx-1 mt-1" href="https://www.linkedin.com/in/shuang-guo-17155113b" target="_blank" role="button">
    <i class="fab fa-linkedin"></i> LinkedIn
  </a>
  <a class="btn btn-light mx-1 mt-1" href="https://github.com/sbj1234567892010" target="_blank" role="button">
    <i class="fab fa-github"></i> GitHub
  </a>
  <a class="btn btn-light mx-1 mt-1" href="https://www.cnblogs.com/sbj123456789" target="_blank" role="button">
    <i class="ai ai-google-scholar"></i> Chinese Blog
  </a>
</p>

<!-- <h3>News</h3>
<ul>

  <li><p>
    07/2019. Our paper on deep learning based parameter space exploration of ensemble simulations won <a href="http://ieeevis.org/year/2019/welcome" target="_blank">IEEE VIS 2019</a> Best Paper Award.
  </p></li>

  <li><p>
    10/2018. Our paper on kernel density estimation of surfaces has been accepted by IEEE TVCG.
  </p></li>

  <li><p>
    10/2018. Our paper on parallel reduction won IEEE LDAV 2018 Best Paper Honorable Mention Award.
  </p></li>

  <li><p>
    10/2018. I'm going to present our paper on parallel reduction in <a href="http://ldav.org/" target="_blank">IEEE LDAV 2018</a>.
  </p></li>

</ul> -->
