<h2 class="scroll_heading">Publications</h2>

<ul>

  <li><p>
    <strong>Wenbin He</strong>, Teng-Yok Lee, Jeroen van Baar, Kent Wittenburg, and Han-Wei Shen
    <br>
    DynamicsExplorer: Visual Analytics for Robot Control Tasks involving Dynamics and LSTM-based Control Policies
    <br>
    In <em>Proceedings of 2020 IEEE Pacific Visualization Symposium</em>, 2020. (Accepted)
    <br>
    | DOI | PDF | Video |
  </p></li>

  <li><p>
    <strong>Wenbin He</strong>, Junpeng Wang, Hanqi Guo, Ko-Chih Wang, Han-Wei Shen, Mukund Raj, Youssef S. G. Nashed, and Tom Peterka
    <br>
    InSituNet: Deep Image Synthesis for Parameter Space Exploration of Ensemble Simulations
    <br>
    <em>IEEE Transactions on Visualization and Computer Graphics (SciVis 2019)</em>, vol. 26, no. 1, pp. 23-33, 2020. <span class="badge badge-info">Best Paper Award</span>
    <br>
    | <a href="https://ieeexplore.ieee.org/document/8805426" target="_blank">DOI</a> | <a href="https://arxiv.org/abs/1908.00407" target="_blank">PDF</a> | <a href="https://vimeo.com/372522755" target="_blank">Video</a> | <a href="https://github.com/hewenbin/insitu_net" target="_blank">GitHub</a> |
  </p></li>

  <li><p>
    <strong>Wenbin He</strong>, Hanqi Guo, Han-Wei Shen, and Tom Peterka
    <br>
    eFESTA: Ensemble Feature Exploration with Surface Density Estimates
    <br>
    <em>IEEE Transactions on Visualization and Computer Graphics</em>, vol. 26, no. 4, pp. 1716-1731, 2020.
    <br>
    | <a href="https://ieeexplore.ieee.org/document/8525340" target="_blank">DOI</a> | <a href="https://www.researchgate.net/publication/328775315_eFESTA_Ensemble_Feature_Exploration_with_Surface_Density_Estimates" target="_blank">PDF</a> | <a href="https://vimeo.com/302362558" target="_blank">Video</a> | <a href="https://github.com/hewenbin/sde" target="_blank">GitHub</a> |
  </p></li>

  <li><p>
    Hanqi Guo, <strong>Wenbin He</strong>, Sangmin Seo, Han-Wei Shen, Emil Mihai Constantinescu, Chunhui Liu, and Tom Peterka
    <br>
    Extreme-Scale Stochastic Particle Tracing for Uncertain Unsteady Flow Visualization and Analysis
    <br>
    <em>IEEE Transactions on Visualization and Computer Graphics</em>, vol. 25, no. 9, pp. 2710-2724, 2019.
    <br>
    | <a href="https://ieeexplore.ieee.org/document/8419325" target="_blank">DOI</a> | <a href="https://www.researchgate.net/publication/326612460_Extreme-Scale_Stochastic_Particle_Tracing_for_Uncertain_Unsteady_Flow_Visualization_and_Analysis" target="_blank">PDF</a> |
  </p></li>

  <li><p>
    <strong>Wenbin He</strong>, Hanqi Guo, Tom Peterka, Sheng Di, Franck Cappello, and Han-Wei Shen
    <br>
    Parallel Partial Reduction for Large-Scale Data Analysis and Visualization
    <br>
    In <em>Proceedings of 2018 IEEE Symposium on Large Data Analysis and Visualization</em>, pp. 45-55, 2018. <span class="badge badge-info">Best Paper Honorable Mention</span>
    <br>
    | <a href="https://ieeexplore.ieee.org/document/8739165" target="_blank">DOI</a> | <a href="https://www.researchgate.net/publication/328615547_Parallel_Partial_Reduction_for_Large-Scale_Data_Analysis_and_Visualization" target="_blank">PDF</a> |
  </p></li>

  <li><p>
    <strong>Wenbin He</strong>, Xiaotong Liu, Han-Wei Shen, Scott M. Collis, and Jonathan J. Helmus
    <br>
    Range Likelihood Tree: A Compact and Effective Representation for Visual Exploration of Uncertain Data Sets
    <br>
    In <em>Proceedings of 2017 IEEE Pacific Visualization Symposium</em>, pp. 151–160, 2017.
    <br>
    | <a href="https://ieeexplore.ieee.org/document/8031589" target="_blank">DOI</a> | <a href="https://www.researchgate.net/publication/319866377_Range_likelihood_tree_A_compact_and_effective_representation_for_visual_exploration_of_uncertain_data_sets" target="_blank">PDF</a> | <a href="https://vimeo.com/302365818" target="_blank">Video</a> |
  </p></li>

  <li><p>
    Hanqi Guo, <strong>Wenbin He</strong>, Tom Peterka, Han-Wei Shen, Scott M. Collis, and Jonathan J. Helmus
    <br>
    Finite-Time Lyapunov Exponents and Lagrangian Coherent Structures in Uncertain Unsteady Flows
    <br>
    <em>IEEE Transactions on Visualization and Computer Graphics (PacificVis 2016)</em>, vol. 22, no. 6, pp. 1672–1682, 2016.
    <br>
    | <a href="https://ieeexplore.ieee.org/document/7422124" target="_blank">DOI</a> | PDF |
  </p></li>

  <li><p>
    <strong>Wenbin He</strong>, Chun-Ming Chen, Xiaotong Liu, and Han-Wei Shen
    <br>
    A Bayesian Approach for Probabilistic Streamline Computation in Uncertain Flows
    <br>
    In <em>Proceedings of 2016 IEEE Pacific Visualization Symposium</em>, <em>Visualization Notes</em>, pp. 214–218, 2016.
    <br>
    | <a href="https://ieeexplore.ieee.org/document/7465273" target="_blank">DOI</a> | <a href="https://www.researchgate.net/publication/302073763_A_Bayesian_approach_for_probabilistic_streamline_computation_in_uncertain_flows" target="_blank">PDF</a> |
  </p></li>

  <li><p>
    Ayan Biswas, David Thompson, <strong>Wenbin He</strong>, Qi Deng, Chun-Ming Chen, Han-Wei Shen, Raghu Machiraju, and Anand Rangarajan
    <br>
    An Uncertainty-Driven Approach to Vortex Analysis Using Oracle Consensus and Spatial Proximity
    <br>
    In <em>Proceedings of 2015 IEEE Pacific Visualization Symposium</em>, pp. 223–230, 2015.
    <br>
    | <a href="https://ieeexplore.ieee.org/document/7156381" target="_blank">DOI</a> | <a href="https://www.researchgate.net/publication/271907804_An_uncertainty-driven_approach_to_vortex_analysis_using_oracle_consensus_and_spatial_proximity" target="_blank">PDF</a> |
  </p></li>

</ul>
