<h2 class="scroll_heading">Services</h2>

<div class="mx-3">

  <h3>Reviewer</h3>

  <ul>

    <li><p>
      IEEE Transactions on Visualization and Computer Graphics (TVCG), 2020
    </p></li>

    <li><p>
      Journal of Visualization (JOV), 2017
    </p></li>

    <li><p>
      IEEE VIS, 2018, 2019
    </p></li>

    <li><p>
      EG/VGTC Conference on Visualization (EuroVis), 2018, 2020
    </p></li>

    <li><p>
      IEEE Pacific Visualization Symposium (PacificVis), 2020
    </p></li>

    <li><p>
      China Visualization and Visual Analytics Conference (ChinaVis), 2018, 2019
    </p></li>

  </ul>

</div>
